/* Top Navbar */
.custom-navbar {
    background-color: #f5fbff !important;
}

/* Tab Navbar: Slightly darker */
.tab-navbar {
    background-color: #6495ed !important;
    font-size: 14px;
}

/* Shared Styling */
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #212529 !important;
    font-weight: 500;
    font-size: 16px;
}

.custom-navbar .nav-link:hover {
    color: #87b0ef !important;
    text-decoration: none;
}
